body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #444;
  font-size: 18px;
  font-family: Arial, sans-serif;
}
body, a:link, a:visited, a:active{
  color: white;
  text-decoration: none;
}
.title, .lineup, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.gif{
  width: 100px;
  position: absolute;
}
.background{
  display: block;
  margin: auto;
  width: 70%;
}
.dancefloor{
  background-image: url('images/dancefloor.png');
  height: 710px;
  width: 1125px;
  background-repeat: no-repeat;
}

/*DROPDOWN*/
.dropbtn {
    background-color: #bf328e;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    height: 32px;
}
.dropdown{
  position: absolute;
  display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #555;
}